---
import Experience from "../components/Experience.astro";
import Layout from "../layouts/Layout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
---

<Layout title="About" description="">
  <main></main>
</Layout>
