---
import Layout from "../layouts/Layout.astro";

const { title, description } = Astro.props;
---

<Layout
  title="Contacta a Hugo Silva Cacabelos - Desarrollador de software blockchain, pentester junior e IA generativa"
  description="Soy Hugo Silva Cacabelos, un recién graduado en Ingeniería Informática y Administración de Empresas, curioso en los campos de ciberseguridad, blockchain e IA Generativa."
>
  <main></main>
</Layout>
