---
import Layout from "../layouts/Layout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";

import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";

import Badge from "../components/Badge.astro";
import SocialLi from "../components/SocialLi.astro";

import LocationIcon from "../icons/Location.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import MailIcon from "../icons/Mail.astro";
import SuitcaseIcon from "../icons/Suitcase.astro";
import CodeIcon from "../icons/Code.astro";
---

<Layout
  title="Portfolio de Hugo Silva Cacabelos - Desarrollador de software blockchain, pentester junior e IA generativa"
  description="Soy Hugo Silva Cacabelos, un recién graduado en Ingeniería Informática y Administración de Empresas, curioso en los campos de ciberseguridad, blockchain e IA Generativa."
>
  <main class="px-4">
    <SectionLayout class="pt-40 pb-20">
      <img
        class="rounded-full size-24"
        src="https://avatars.githubusercontent.com/u/100692121?s=96&v=4"
        alt="hugo foto"
      />
      <h1
        class="text-white text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 lg:pb-10 pt-8 items-center pb-6"
      >
        Hola, soy Hugo <span class="flex">
          <Badge>Disponible</Badge>
        </span>
      </h1>
      <h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
        Recién graduado en <span class="text-blue-400"
          >Ingeniería Informática</span
        >
        y <span class="text-orange-400">Administración de Empresas</span>,
        curioso en los campos de ciberseguridad, blockchain e IA Generativa.
      </h2>
      <div class="flex flex-row opacity-90 pt-5">
        <LocationIcon class="size-6" />
        <h3 class="text-md ps-1.5 pt-0.6">Madrid, España.</h3>
      </div>
      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialLi href="https://linkedin.com/in/hugosilvacacabelos">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialLi>
        <SocialLi href="https://github.com/HSilvaC99">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialLi>
        <SocialLi href="mailto:hugosc99@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          hugosc99@gmail.com
        </SocialLi>
      </nav>
    </SectionLayout>

    <SectionLayout id="experience">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <SuitcaseIcon class="size-7" />
        Experiencia
      </h2>
      <Experience />
    </SectionLayout>

    <SectionLayout id="projects">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionLayout>
  </main>
</Layout>
