---
import ExperienceItem from "./ExperienceItem.astro";

const Experiences = [
  {
    date: "Proximamente [ Ene 2025 ]",
    title: "Desarrollador RPA - Minsait",
    description: "Prácticas curriculares como desarrollador RPA en Minsait.",
    link: "https://www.minsait.com/es",
  },
  {
    date: "Nov 2024 - Dec 2024",
    title: "42Madrid - Fundación Telefónica",
    description:
      "Participante en la piscina de 42Madrid, una escuela de programación libre.",
    link: "https://www.42madrid.com/",
  },
  {
    date: "Sep 2019 - May 2020",
    title: "Desarrollador RPA - EnterDev",
    description:
      "Desarrollador RPA en EnterDev, automatizando procesos a clientes.",
    link: "https://enterdev.co/",
  },
  {
    date: "Sep 2017 - Jun 2024",
    title: "Computer Science and Business Administration",
    description:
      "Graduado en Ingeniería Informática y Administración de Empresas en la Universidad Complutense de Madrid.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    Experiences.map((experience) => (
      <li class="my-16 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
